html,
body {
  height: 100%;
}
h1 {
  font-size: 500%;
  color: #F4F4F9;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #B7DAD8;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.MainBanner {
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: #313D6B; */
  background-image: url("./imgs/bar.jpeg");
  background-size: cover;
}

.MainBannerItem, .feature {
  flex-grow: 1;
}

.phonePic {
  width: 40%;
}

.titles { 
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.Features {
  height: 50%;
  background-color: #F4F4F9;
  display: flex;  
  color: #000000;
  align-items: center;  
}

.feature {
  width : 20%;
}

.featureImage { 
  width : 25%;
}


.featureDescription { 
  font-size: 100%;
  color: #596E7B;
}